layout {
    background-color "transparent"

    focus-ring {
        active-color   "#cccb6c"
        inactive-color "#87929d"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#cccb6c"
        inactive-color "#87929d"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#cccb6c"
        inactive-color "#87929d"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#cccb6c80"
    }
}

/-recent-windows {
    highlight {
        active-color   "#4a4900"
        urgent-color   "#ffb4ab"
    }
}